process {
  executor = 'slurm'
  queue='super'

  // Process specific configuration
  $checkDesignFile {
    module = ['python/3.6.1-2-anaconda']
    executor = 'local'
  }
  $count211 {
    module = ['cellranger/2.1.1']
    memory = '120GB'
  }
  $count301 {
    module = ['cellranger/3.0.1']
    memory = '120GB'
  }
  $count302 {
    module = ['cellranger/3.0.2']
    memory = '120GB'
  }
}

params {
  // Reference file paths on BioHPC
  genomes {
    'GRCh38-3.0.0' {
      loc = '/project/apps_database/cellranger/refdata-cellranger-'
    }
    'GRCh38-1.2.0' {
      loc = '/project/apps_database/cellranger/refdata-cellranger-'
    }
    'hg19-3.0.0' {
      loc = '/project/apps_database/cellranger/refdata-cellranger-'
    }
    'hg19-1.2.0' {
      loc = '/project/apps_database/cellranger/refdata-cellranger-'
    }
    'mm10-3.0.0' {
      loc = '/project/apps_database/cellranger/refdata-cellranger-'
    }
    'mm10-1.2.0' {
      loc = '/project/apps_database/cellranger/refdata-cellranger-'
    }
    'hg19_and_mm10-3.0.0' {
      loc = '/project/apps_database/cellranger/refdata-cellranger-'
    }
    'hg19_and_mm10-1.2.0' {
      loc = '/project/apps_database/cellranger/refdata-cellranger-'
    }
    'ercc92-1.2.0' {
      loc = '/project/apps_database/cellranger/refdata-cellranger-'
    }
  }
  // Chemistry mapping parameter
  chemistry {
    'auto' {
      param = 'auto'
    }
    '1' {
      param = 'SC3Pv1'
    }
   '2' {
      param = 'SC3Pv2'
    }
   '3' {
      param = 'SC3Pv3'
    }
  }
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = true
  file = 'timeline.html'
}

report {
  enabled = true
  file = 'report.html'
}
